<%= form_with(model: [ @article, @article.comments.build ]) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.label :status %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: 'public' %>
  </p>

  <%= form.fields_for :comments, Comment.new do |comment_form| %>
    <p>
      <%= comment_form.label :commenter %><br>
      <%= comment_form.text_field :commenter %>
    </p>
    <p>
      <%= comment_form.label :body %><br>
      <%= comment_form.text_area :body %>
    </p>
  <% end %>

  <p>
    <%= form.submit %>
  </p>
<% end %>
